DB_HOST=localhost #mysql db host
DB_PORT=3306 #db port
DB_USER=dbuser #db username
DB_PASS=dbpass #db password
DB_NAME=adsfusion #db name
BOT_TOKEN=8621355686:AAHaq4aMl43tryrPfQaOMvaX8MLyCancf8 #tg bot token
NEXT_PUBLIC_BOT_USERNAME=AdsFusion_Bot #bot username
IMG_API_ENDPOINT=https://img.example.com/api.php #image uploading api
OXAPAY_MERCHANT_API_KEY=VYX08Y-V2DDGX-DDDD-57C0T7 #Oxapay merchant api
DOMAIN=curious-necessarily-hyacinth.ngrok-free.dev #domain
MODE=DEV #DEV or PROD
CRON_POSTS_INTERVAL=10 #cron post interval in minutes
CRON_VIEWS_INTERVAL=10 #cron views saving interval in minutes
CRON_SETTLEMENT_INTERVAL=10 #cron settelemnt interval in minutes
RICHADS_PUBLISHER_ID= #RichAds publisher ID for Mini App external ad delivery
